$mini_screen: 480px;
$small_screen: 720px;
$medium_screen: 1280px;
$big_screen: 1600px;
$large_screen: 1920px;

$font: (10px,10px,10px,10px,10px); // размер шрифта для разных размеров экрана для rem


@media screen and (min-width:$mini_screen) , (orientation: portrait){
  .tbl-cell{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  .tbl-row .tbl-cell{
    vertical-align: middle;
  }
  .h100{
    height: auto;
  }
  .p-l-110{
    padding-left: 70px;
  }
  .p-r-100{
    padding-right: 90px;
  }
  .project_img_container{
    overflow: hidden;
    height: 100%;
    min-height: 400px;
    display: none;
  }
  .project_img{
    min-height: 400px;
    min-width: 100%;
  }
}
@media screen and (min-width:$small_screen) and (orientation: landscape){
  .tbl-row{
    vertical-align: middle;
  }
  .tbl-row .tbl-cell{
    vertical-align: middle;
  }
  .h100{
    height: auto;
  }
  .p-l-110{
    padding-left: 70px;
  }
  .p-r-100{
    padding-right: 90px;
  }
  .tbl-cell{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  .tbl-row .tbl-cell{
    vertical-align: middle;
  }
  .project_img_container{
    overflow: hidden;
    height: 100%;
    min-height: 310px;
    display: none;
  }
  .project_img{
    min-height: 100%;
    min-width: 100%;
  }
}
@media screen and (min-width:$medium_screen) and (orientation: landscape){
  .vh50{
    height: 50vh;
  }
  .vh33{
    height: 33.3333333vh;
  }
  .tbl-row{
    vertical-align: middle;
  }
  .tbl-row .tbl-cell{
    vertical-align: middle;
  }
  .h100{
    height: 100%;
  }
  .p-l-110{
    padding-left: 110px;
  }
  .p-r-100{
    padding-right: 100px;
  }
  .tbl-cell{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  .tbl-row .tbl-cell{
    vertical-align: bottom;
  }
  .project_img_container{
    overflow: hidden;
    height: 100%;
    min-height: 310px;
    display: none;
  }
  .project_img{
    min-height: 100%;
    min-width: 100%;
  }
}
@media screen and (min-width:$big_screen) and (orientation: landscape){
  .vh50{
    height: 50vh;
  }
  .vh33{
    height: 33.3333333vh;
  }
  .h100{
    height: 100%;
  }
  .p-l-110{
    padding-left: 110px;
  }
  .p-r-100{
    padding-right: 100px;
  }
  .project_img_container{
    overflow: hidden;
    height: 100%;
    display: none;
  }
  .project_img{
    height: 100%;
    min-width: 100%;
  }
  .tbl-cell{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  .tbl-row .tbl-cell{
    vertical-align: bottom;
  }
}
@media screen and (min-width:$large_screen) and (orientation: landscape){
  .vh50{
    height: 50vh;
  }
  .vh33{
    height: 33.3333333vh;
  }
  .h100{
    height: 100%;
  }
  .p-l-110{
    padding-left: 110px;
  }
  .p-r-100{
    padding-right: 100px;
  }
  .project_img_container{
    overflow: hidden;
    height: 100%;
    display: none;
  }
  .project_img{
    height: 100%;
    min-width: 100%;
  }
  .tbl-cell{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  .tbl-row .tbl-cell{
    vertical-align: bottom;
  }
}