html,body {
	height: 100%;
}

body {
	margin: 0px;
}

.loader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	background: #fff3eb;
	text-align: center;
}
.loader:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.loader .bg {
	position: relative;
	display: inline-block;
	width: 86.5rem;
	height: 31.4rem;
	vertical-align: middle;
	background: url(/assets/img/loader/loader_bg.jpg);
	background-size: cover;
	overflow: hidden;
}
@media (max-width: 479px) , (orientation: portrait) {
	.loader .bg {
		width: 90vw;
		height: 32.67vw;
	}
}
.loader .sh {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	box-shadow: -10px 0 90px 50px #000;
}
.loader .fg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/assets/img/loader/loader_fg.png);
	background-size: cover;
}
.loader .pc {
	position: absolute;
	display: inline-block;
	bottom: 12vh;
	left: 0;
	right: 0;
	text-align: center;
}

.head {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	height: 200px;
	padding: 0 5%;
	pointer-events: none;
}
.head * {
	pointer-events: auto;
}

.block {
	width: 100%;
	height: 100%;
	min-height: 480px;

	position: relative;
	overflow-x: hidden;
}

.menu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 52rem;
	z-index: 9999;
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);

	-webkit-transition: -webkit-transform .3s , opacity .3s .3s;
	   -moz-transition: transform .3s , opacity .3s .3s;
	        transition: transform .3s , opacity .3s .3s;

	overflow: hidden;

	opacity: 0;
	pointer-events: none;
}
.menu.view {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;

	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: transform .3s;
	        transition: transform .3s;

	opacity: 1;
	pointer-events: auto;
}

.menu .fg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	overflow: auto;

	padding-top: 4em;
}

.menu .fg > p {
	padding-left: 1.6em;
}
.menu .fg > form {
	background: rgba(0,0,0,.5);
	margin: 2.4em 0;
	padding: 1.4em 1.6em;
}

.menu .fg > form input {
	width: 40rem;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #837f77;
	-webkit-transition: border-bottom .3s;
	   -moz-transition: border-bottom .3s;
	        transition: border-bottom .3s;
	padding-left: 2.5em;
}
.menu .fg > form input:focus {
	border-bottom: 1px solid #fff;
}

.menu .fg > form input + label {
	position: relative;

	margin-left: -40rem;
	height: 2.5em;
	width: 40rem;
	display: inline-block;
	pointer-events: none;
	color: #837f77;
	-webkit-transition: color .3s;
	   -moz-transition: color .3s;
	        transition: color .3s;
}
.menu .fg > form input:focus + label {
	color: #fff;
}

.menu .fg > form button {
	background: none;
	border: none;
	outline: none;
}

.menuform-arrow-right {
	position: relative;
	display: inline-block;
	width: 4.2em;
	height: 1px;
	background: #fff;
	vertical-align: middle;
	margin-left: 1em;

	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: transform .3s;
	        transition: transform .3s;
}
.menuform-arrow-right:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	width: .625em;
	height: .625em;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	top: -.2991em;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.menu .fg > form button:hover .menuform-arrow-right {
	-webkit-transform: translateX(.25em);
	    -ms-transform: translateX(.25em);
	        transform: translateX(.25em);
}

.menu-close {
	display: block;
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.7em;
	height: 1.7em;
	padding-top: .85em;
	outline: none;
}

.menu-close:before , .menu-close:after {
	content: '';
	display: block;
	position: absolute;
	width: 1.7em;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.menu-close:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.leftblock {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
	opacity: 0;
	background: none;
	overflow: hidden;

	-webkit-transition: -webkit-transform .5s , opacity 0s .5s;
	   -moz-transition: transform .5s , opacity 0s .5s;
	        transition: transform .5s , opacity 0s .5s;
}
.leftblock.view {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	opacity: 1;

	-webkit-transition: -webkit-transform .5s , opacity 0s;
	   -moz-transition: transform .5s , opacity 0s;
	        transition: transform .5s , opacity 0s;
}
.leftblock.view + .leftblock {
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
	opacity: 0;

	-webkit-transition: -webkit-transform .5s , opacity 0s .5s;
	   -moz-transition: transform .5s , opacity 0s .5s;
	        transition: transform .5s , opacity 0s .5s;
}

.leftblock > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-right: 100px;
	overflow: auto;
}

.leftblock-left > * , .leftblock-right > * {
	-webkit-transition: margin .3s;
	   -moz-transition: margin .3s;
	        transition: margin .3s;
}

.leftblock-left , .leftblock-right {
	position: absolute;
	bottom: 25px;
	width: 128px;
	height: 25px;
	opacity: 0;

	-webkit-transition: opacity .3s;
	   -moz-transition: opacity .3s;
	        transition: opacity .3s;
}

.leftblock-left {
	left: 35px;
}
.leftblock-left:hover > * {
	margin-left: -10px;
}
.leftblock-right {
	right: 35px;
}
.leftblock-right:hover > * {
	margin-right: -10px;
}

.leftblock.view .leftblock-left , .leftblock.view .leftblock-right {
	opacity: 1;

	-webkit-transition: opacity .3s .5s;
	   -moz-transition: opacity .3s .5s;
	        transition: opacity .3s .5s;
}

@media (min-width: 1280px) and (orientation: landscape) {
	.block {
		position: fixed !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		/*overflow: hidden;*/
		overflow: visible;

		-webkit-transform: translateY(-100%);
		    -ms-transform: translateY(-100%);
		        transform: translateY(-100%);

		-webkit-transition: -webkit-transform 2s linear;
		   -moz-transition: transform 2s linear;
		        transition: transform 2s linear;

		z-index: -1;
	}

	.block.view {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;

		-webkit-transition: -webkit-transform 1s;
		   -moz-transition: transform 1s;
		        transition: transform 1s;

		z-index: 0;
	}

	.block.view ~ .block {
		-webkit-transform: translateY(100%);
		    -ms-transform: translateY(100%);
		        transform: translateY(100%);

		-webkit-transition: -webkit-transform 1s;
		   -moz-transition: transform 1s;
		        transition: transform 1s;

		z-index: 0;
	}

	.block.view.stop + .block:hover {
		-webkit-transform: translateY(90%);
		    -ms-transform: translateY(90%);
		        transform: translateY(90%);
	}


	.block:before {
		content: '';
		font-size: 6.0rem;
		color: #ff0095;
		text-shadow: 0 0 0.2rem #000;
		text-align: left;
		text-indent: 4.5%;

		font-family: Fotograf,sans-serif;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		position: absolute;
		display: block;
		bottom: 100%;
		left: 0;
		right: 0;
		height: 0;

		z-index: 1;

		-webkit-transition: all 1s;
		   -moz-transition: all 1s;
		        transition: all 1s;

		cursor: pointer;
	}
	/*.block + .block.view.stop ~ .block:before {content: '\25af';}*/
	/*.block + .block.view.stop ~ .block:before {content: '\1f5af';}*/

	.block.view.stop + .block:before {
		height: 100px;
		height: 8vw;
		margin-bottom: -50px;
		margin-bottom: -4vw;
	}
	.block.view.stop + .block:hover:before {
		margin-bottom: -100px;
		margin-bottom: -8vw;

		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		        transition: all .5s;
	}
	.block.view.stop + .block:hover {
		-webkit-transition: -webkit-transform .5s;
		   -moz-transition: transform .5s;
		        transition: transform .5s;
	}

	.mainslider-arrow-bot {
		display: block !important;
		-webkit-transition: -webkit-transform 1s;
		   -moz-transition: transform 1s;
		        transition: transform 1s;
	}
	body:hover .head:first-child:not(:hover) + .menu:not(:hover) + .block.view.stop:not(:hover) .mainslider-arrow-bot {
		-webkit-transform: translateY(-100px);
		    -ms-transform: translateY(-100px);
		        transform: translateY(-100px);
		-webkit-transform: translateY(-10vh);
		    -ms-transform: translateY(-10vh);
		        transform: translateY(-10vh);

		-webkit-transition: -webkit-transform .5s;
		   -moz-transition: transform .5s;
		        transition: transform .5s;
	}
}

.menu:before , .leftblock:before {
	content: '';
	z-index: -10;
	position: absolute;
	left: -100px;
	right: -100px;
	top: -100px;
	bottom: -100px;

	background: -moz-element(#block-next), -moz-element(#block-view), -moz-element(#block-prev);
	background: element(#block-next), element(#block-view), element(#block-prev);

	-webkit-backdrop-filter: url('/#blur');
	backdrop-filter: url('/#blur');
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);

	-webkit-filter: url('/#blur');
	filter: url('/#blur');
	-webkit-filter: blur(20px);
	filter: blur(20px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
}
.menu:before {
	background-position: right 500px top 100px;
	-webkit-transition: background-position .3s;
	   -moz-transition: background-position .3s;
	        transition: background-position .3s;
}
.menu.view:before {
	background-position: right 100px top 100px;
}
.leftblock:before {
	background-position: calc(100vw + 100px) 100px;
	-webkit-transition: background-position .5s;
	   -moz-transition: background-position .5s;
	        transition: background-position .5s;
}
.leftblock.view:before {
	background-position: 100px 100px;
}

.menu:after , .leftblock:after {
	content: '';
	z-index: -5;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: rgba(0,0,0,.75);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.white {
	color: #fff !important;
}
.pink {
	color: #ff0095;
}
.gray {
	color: #959292;
}
.lightgray {
	color: #dddddd;
}
.darkgrey {
	color: #798285;
}
.darkergray {
	color: #766f6f;
}
.middark {
	color: #666;
}
.dark {
	color: #333;
}
.indigo {
	color: #99bbb1;
}
.marineblue {
	color: #9ebeb4;
}
.marinegray {
	color: #465959;
}
.magenta {
	color: #aa9eb5;
}
.purple {
	color: #a599b2;
}
.orange {
	color: #dcb990;
}
.orangeface {
	color: #d9b489;
}

.bg-black {
	background: #000;
}
.bg-transwhite {
	background: rgba(255,255,255,.8);
}
.bg-white {
	background: #fff3eb;
}

.lh1_5 {
	line-height: 1.5em;
}
.lh1 {
	line-height: 1em;
}

.no-m {
	margin: 0;
}

.m-t-10 {
	margin-top: 10px;
}
.m-t-11 {
	margin-top: 11px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}

.m-t-0_5em {
	margin-top: .5em;
}
.m-t-1em {
	margin-top: 1em;
}
.m-t-2em {
	margin-top: 2em;
}
.m-b-0_5em {
	margin-bottom: .5em;
}
.m-b-1em {
	margin-bottom: 1em;
}
.m-r-0_25em {
	margin-right: .25em;
}

.m-t-16rem {
	margin-top: 16rem;
}
.m-b-7_5rem {
	margin-bottom: 7.5rem;
}
.m-b-10rem {
	margin-bottom: 10rem;
}

.m-b-40vw {
	margin-bottom: 40vw;
}

.p-lr-0_5em {
	padding-left: .5em;
	padding-right: .5em;
}
.p-lr-1em {
	padding-left: 1em;
	padding-right: 1em;
}

.p-r-0_25em {
	padding-right: .25em;
}
.p-r-1em {
	padding-right: 1em;
}
.p-r-2em {
	padding-right: 2em;
}

.p-r-40pc {
	padding-right: 40%;
}

.p-50 {
	padding: 50px;
}
.p-l-30 {
	padding-left: 30px;
}

.p-b-0 {
	padding-bottom: 0;
}
.p-b-1em {
	padding-bottom: 1em;
}

.notransition {
	-webkit-transition: none !important;
	   -moz-transition: none !important;
	        transition: none !important;
}

.inblock {
	display: inline-block;
}

.w50 {
	width: 50%;
}
.w70 {
	width: 70%;
}
.w30 {
	width: 30%;
}

.h100 {
	height: 100%;
}

.nopointer , .nopointer * {
	pointer-events: none !important;
}

.spread {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@media (min-width: 720px) and (orientation: landscape) {
	.fixed {
		position: fixed;
	}
}

.o-hidden {
	padding: 10px !important;
	position: relative;
	overflow: hidden;
}
.o-hidden > * {
	max-width: 100%;
}

.bgcontain {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.bgcover {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.valign-top {
	vertical-align: top;
}
.valign-middle {
	vertical-align: middle;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

ul.mainslider {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0;
	width: 100%;
	height: 100%;

	position: relative;
	overflow: hidden;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
ul.mainslider:before {
	content: 'fotograf.perm.ru';
	color: transparent;
	position: absolute;
	display: block;
	text-align: center;
	left: 0;
	right: 0;
	top: 50%;
	padding: 50px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	background: rgba(0,0,0,.5);
}
ul.mainslider:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -20rem;
	left: 0;
	right: 0;
	height: 20rem;
	z-index: 10;
	background: red;
	box-shadow: 0 0 20rem 0 #000;
	pointer-events: none;
}

ul.mainslider li {
	width: 92%;
	height: 100%;
	margin: 0 4%;

	position: absolute;
	overflow: hidden;

	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);

	-webkit-transition: -webkit-transform 1s;
	   -moz-transition: transform 1s;
	        transition: transform 1s;

	cursor: pointer;
}
ul.mainslider li > .bg {
	width: 108.55%;
	height: 100%;
	position: absolute;
	left: -999999px;
	right: -999999px;
	margin: 0 auto;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	-webkit-transform: translateX(92%);
	    -ms-transform: translateX(92%);
	        transform: translateX(92%);

	-webkit-transition: -webkit-transform 1s;
	   -moz-transition: transform 1s;
	        transition: transform 1s;
}

ul.mainslider li > .fg {
	display: inline-block;
	padding: 50px;
	text-align: center;
	/*border: 3px solid #fff;*/

	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);

	/*-webkit-transition: background .3s;
	   -moz-transition: background .3s;
			transition: background .3s;*/
	background: rgba(0,0,0,.5);
}
/*ul.mainslider li > .fg:hover , ul.mainslider li.view > .fg {
	background: rgba(0,0,0,.5);
}*/

@media (max-width: 479px) , (orientation: portrait) {
	ul.mainslider li > .fg {
		border: none;
		left: -1px;
		right: -1px;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
		height: 200px;
		background: rgba(0,0,0,.8) !important;
	}
	ul.mainslider li > .fg > a {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

		-webkit-transition: opacity .3s;
		   -moz-transition: opacity .3s;
				transition: opacity .3s;
	}
	ul.mainslider li:not(.view) > .fg > a {
		opacity: 0;

		-webkit-transition: opacity .3s .3s;
		   -moz-transition: opacity .3s .3s;
				transition: opacity .3s .3s;
	}

	ul.mainslider:before {
		content: '';
		position: absolute;
		height: 200px;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -100px;
		background: rgba(0,0,0,.8);
	}

	.mainslider-arrow-left, .mainslider-arrow-right {
		width: 50px !important;
	}
	/*.mainslider-arrow-bot {
		float: none !important;
	}*/
}

ul.mainslider li:not(.view):hover , ul.mainslider li:not(.view).hover {
	-webkit-transform: translateX(-90%);
	    -ms-transform: translateX(-90%);
	        transform: translateX(-90%);
}
ul.mainslider li:not(.view):hover > .bg , ul.mainslider li:not(.view).hover > .bg {
	-webkit-transform: translateX(82.8%);
	    -ms-transform: translateX(82.8%);
	        transform: translateX(82.8%);
}
ul.mainslider li:not(.view):hover + li.view , ul.mainslider li:not(.view).hover + li.view {
	-webkit-transform: translateX(10%);
	    -ms-transform: translateX(10%);
	        transform: translateX(10%);
}
ul.mainslider li:not(.view):hover + li.view > .bg , ul.mainslider li:not(.view).hover + li.view > .bg {
	-webkit-transform: translateX(-9.1%);
	    -ms-transform: translateX(-9.1%);
	        transform: translateX(-9.1%);
}
ul.mainslider li:not(.view):hover + li.view + li , ul.mainslider li:not(.view).hover + li.view + li {
	-webkit-transform: translateX(110%);
	    -ms-transform: translateX(110%);
	        transform: translateX(110%);
}
ul.mainslider li:not(.view):hover + li.view + li > .bg , ul.mainslider li:not(.view).hover + li.view + li > .bg {
	-webkit-transform: translateX(-101.2%);
	    -ms-transform: translateX(-101.2%);
	        transform: translateX(-101.2%);
}

ul.mainslider li.view , ul.mainslider li.view > .bg {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	cursor: inherit;
}

ul.mainslider li.view ~ li {
	-webkit-transform: translateX(200%);
	    -ms-transform: translateX(200%);
	        transform: translateX(200%);
}
ul.mainslider li.view ~ li > .bg {
	-webkit-transform: translateX(-184%);
	    -ms-transform: translateX(-184%);
	        transform: translateX(-184%);
}

ul.mainslider li.view + li {
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
}
ul.mainslider li.view + li > .bg {
	-webkit-transform: translateX(-92%);
	    -ms-transform: translateX(-92%);
	        transform: translateX(-92%);
}

ul.mainslider li.view + li:hover , ul.mainslider li.view + li.hover {
	-webkit-transform: translateX(90%);
	    -ms-transform: translateX(90%);
	        transform: translateX(90%);
}
ul.mainslider li.view + li:hover > .bg , ul.mainslider li.view + li.hover > .bg {
	-webkit-transform: translateX(-82.8%);
	    -ms-transform: translateX(-82.8%);
	        transform: translateX(-82.8%);
}

ul.mainslider:hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) , ul.mainslider.hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) {
	-webkit-transform: translateX(-10%);
	    -ms-transform: translateX(-10%);
	        transform: translateX(-10%);
}
ul.mainslider:hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) > .bg , ul.mainslider.hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) > .bg {
	-webkit-transform: translateX(9.1%);
	    -ms-transform: translateX(9.1%);
	        transform: translateX(9.1%);
}

@media (max-width: 719px) , (orientation: portrait) {
	.head {
		padding: 0 11%;
	}

	ul.mainslider li {
		width: 80%;
		margin: 0 10%;
	}

	ul.mainslider li > .bg {
		width: 125%;
	-webkit-transform: translateX(80%);
	    -ms-transform: translateX(80%);
	        transform: translateX(80%);
	}
	ul.mainslider li.view ~ li > .bg {
	-webkit-transform: translateX(-160%);
	    -ms-transform: translateX(-160%);
	        transform: translateX(-160%);
	}
	ul.mainslider li.view + li > .bg {
	-webkit-transform: translateX(-80%);
	    -ms-transform: translateX(-80%);
	        transform: translateX(-80%);
	}

	ul.mainslider li:not(.view):hover > .bg , ul.mainslider li:not(.view).hover > .bg {
	-webkit-transform: translateX(40%);
	    -ms-transform: translateX(40%);
	        transform: translateX(40%);
	}
	ul.mainslider li:not(.view):hover ~ li.view > .bg , ul.mainslider li:not(.view).hover ~ li.view > .bg {
	-webkit-transform: translateX(-40%);
	    -ms-transform: translateX(-40%);
	        transform: translateX(-40%);
	}
	ul.mainslider li.view + li:hover > .bg , ul.mainslider li.view + li.hover > .bg {
	-webkit-transform: translateX(-40%);
	    -ms-transform: translateX(-40%);
	        transform: translateX(-40%);
	}
	ul.mainslider li:not(.view):hover + li.view + li > .bg , ul.mainslider li:not(.view).hover + li.view + li > .bg {
	-webkit-transform: translateX(-120%);
	    -ms-transform: translateX(-120%);
	        transform: translateX(-120%);
	}
	ul.mainslider:hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) > .bg , ul.mainslider.hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) > .bg {
	-webkit-transform: translateX(40%);
	    -ms-transform: translateX(40%);
	        transform: translateX(40%);
	}


	ul.mainslider li:not(.view):hover , ul.mainslider li:not(.view).hover {
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	ul.mainslider li:not(.view):hover + li.view , ul.mainslider li:not(.view).hover + li.view {
		-webkit-transform: translateX(50%);
		    -ms-transform: translateX(50%);
		        transform: translateX(50%);
	}
	ul.mainslider li:not(.view):hover + li.view + li , ul.mainslider li:not(.view).hover + li.view + li {
		-webkit-transform: translateX(150%);
		    -ms-transform: translateX(150%);
		        transform: translateX(150%);
	}
	ul.mainslider li.view + li:hover , ul.mainslider li.view + li.hover {
		-webkit-transform: translateX(50%);
		    -ms-transform: translateX(50%);
		        transform: translateX(50%);
	}
	ul.mainslider:hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) , ul.mainslider.hover li:not(:hover):not(.hover) + li.view:not(:hover):not(.hover) {
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

.mainslider-arrow-left, .mainslider-arrow-right {
	position: absolute;
	top: 50%;
	width: 128px;
	height: 1pt;
	background: #fff;
	pointer-events: none;
}
.mainslider-arrow-left {
	left: 1.5%;
}
.mainslider-arrow-right {
	right: 1.5%;
}

.mainslider-arrow-bot {
	position: absolute !important;
	left: 50%;
	bottom: 1.5%;
	/*width: 1pt;
	height: 128px;
	background: #fff;*/

	width: 10rem !important;
	height: 10rem !important;
	margin-left: -5rem;
	text-align: center;

	pointer-events: none;

	z-index: 11;

	display: none;
}

.mainslider-arrow-left:before, .mainslider-arrow-right:after/* , .mainslider-arrow-bot:after*/ {
	content: '';
	display: block;
	position: absolute;
	width: 14.6px;
	height: 14.6px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}
.mainslider-arrow-left:before {
	-webkit-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	        transform: rotate(315deg);
	left: 1px;
	top: -6.5px;
}
.mainslider-arrow-right:after {
	-webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	        transform: rotate(135deg);
	right: 1.5px;
	top: -5.5px;
}

.mainslider-arrow-bot:after {
	/*-webkit-transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	        transform: rotate(225deg);*/
	/*bottom: 1px;*/
	/*bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;*/

	-webkit-animation: shakeU infinite forwards 1s;
	-moz-animation: shakeU infinite forwards 1s;
	-ms-animation: shakeU infinite forwards 1s;
	animation: shakeU infinite forwards 1s;

	/*-webkit-filter: drop-shadow(0 0 .1rem #000);
	-moz-filter: drop-shadow(0 0 .1rem #000);
	filter: drop-shadow(0 0 .1rem #000);*/

	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto 6.5rem;
	width: .5rem;
	height: 1.5rem;
	border-radius: 1.0rem;
	background: #fff;
}
.pink.mainslider-arrow-bot:after {
	background: #ff0095 !important;
}
.mainslider-arrow-bot:before {
	content: '';
	display: inline-block;
	width: 4.5rem;
	height: 8.0rem;
	/*width: 0;
	height: 0;*/

	/*box-shadow: 0 0 5rem 5rem rgba(0,0,0,.1) , inset 0 0 0 5rem rgba(0,0,0,.1);*/
	border-radius: 10rem;
	border: .2rem solid #fff;
}

@-webkit-keyframes shakeU {
	0%   {bottom: .6rem;height:1rem;}
	30%  {bottom: 0;height:1.5rem;}
	100% {bottom: .5rem;height:4rem;}
}
@-moz-keyframes shakeU {
	0%   {bottom: .6rem;height:1rem;}
	30%  {bottom: 0;height:1.5rem;}
	100% {bottom: .6rem;height:1rem;}
}
@-ms-keyframes shakeU {
	0%   {bottom: .6rem;height:1rem;}
	30%  {bottom: 0;height:1.5rem;}
	100% {bottom: .6rem;height:1rem;}
}
@keyframes shakeU {
	0%   {bottom: .6rem;height:1rem;}
	30%  {bottom: 0;height:1.5rem;}
	100% {bottom: .6rem;height:1rem;}
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.category-block > div {
	width: 50%;
	height: 50%;
	float: left;

	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	position: relative;
}

.category-block > div:nth-child(even) {
	float: right;
}

.category-block:nth-child(odd) div:nth-child(1) , .category-block:nth-child(even) div:nth-child(2) {
	height: 100%;
}

.category-block > div:only-child {
	width: 100%;
	height: 100%;
}

.category-block > div:nth-child(1):nth-last-child(2) , .category-block > div:nth-child(2):nth-last-child(1) {
	height: 100%;
}

@media (max-width: 719px) , (orientation: portrait) {
	.category-block {
		height: auto;
	}
	.category-block > div {
		float: none !important;
		width: 100% !important;
		height: 50% !important;
		min-height: 460px;
	}
}

.category-block > div > a {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16% 0;
}
.category-block > div > a > div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	-webkit-transition: opacity .5s;
	   -moz-transition: opacity .5s;
	        transition: opacity .5s;
}
.category-block > div > a:hover > div {
	opacity: 1;
}
.category-block > div > a > p {
	position: relative;
	z-index: 1;
	-webkit-transition: background .5s;
	   -moz-transition: background .5s;
	        transition: background .5s;
	padding: 3% 10%;
}
.category-block > div > a:hover > p {
	background: rgba(0,0,0,.5);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.webest-block {
	position: relative;
	overflow: visible;
}
.webest-block:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 200%;
	top: 0;
	left: 0;
	background: url(/assets/img/calendar-fon.jpg) center 60% no-repeat #fff;
	background-size: 100% auto;
	z-index: -1;
	box-shadow: 0 10000px 0 10000px #fff;
}

@media (max-width: 719px) , (orientation: portrait) {
	.webest-block:after {
		background-size: 200% auto;
		background-position: 10% 60%;
	}
}

.block:not(.view) + .webest-block {
	-webkit-transition: -webkit-transform 1s !important;
	   -moz-transition: transform 1s !important;
	        transition: transform 1s !important;
}

.calendar-block , .webest-block {
	background: none;
}

@media (max-width: 719px) , (orientation: portrait) {
	.calendar-block , .webest-block {
		height: auto;
	}
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.calendar-block {
	padding: 0 5% 0 5%;
}

.maincalendar {
	border-collapse: separate;
	border-spacing: 40px 0px;
	position: relative;
	margin-left: -40px;
}

.maincalendar + .maincalendar {
	position: absolute;
}

.maincalendar td {
	position: relative;
}

.day_p , .day_n , .month_p , .month_n , .m_day_p , .m_day_n {
	color: #ddd;
}

/*.day_na {
	color: #e6e6e6;
}*/

.month_p , .m_day_p {
	text-align: right;
}
.month_n , .m_day_n {
	text-align: left;
}

.month_p , .month_n , .m_day_p , .m_day_n {
	padding: 0px 5px;
	-webkit-transition: -webkit-transform .5s;
	   -moz-transition: transform .5s;
	        transition: transform .5s;
	cursor: pointer;
}
.month_p:hover , .m_day_p:hover {
	-webkit-transform: translateX(-.25em);
	    -ms-transform: translateX(-.25em);
	        transform: translateX(-.25em);
}
.month_n:hover , .m_day_n:hover {
	-webkit-transform: translateX(.25em);
	    -ms-transform: translateX(.25em);
	        transform: translateX(.25em);
}

.month_n:before, .month_p:before , .m_day_p:before , .m_day_n:before {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	top: .5em;
	margin-top: -3px;
	background: #959292;
}
.month_p:before , .m_day_p:before {
	right: 0;
}
.month_n:before , .m_day_n:before {
	left: 0;
}

.month_n:after, .month_p:after , .m_day_p:after , .m_day_n:after {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-left: 1pt solid #959292;
	border-top: 1pt solid #959292;
	top: .5em;
	margin-top: -3px;
	-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
			transform-origin: 0 0;
}
.month_n:after , .m_day_n:after {
	-webkit-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	        transform: rotate(135deg);
	right: -10px;
}
.month_p:after , .m_day_p:after {
	-webkit-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	        transform: rotate(315deg);
	left: 0;
}

.maincalendar tr:nth-child(n+4) td {
	cursor: pointer;
}

.maincalendar tr:nth-child(n+4) td:not(.day_na):before , .maincalendar-legend td:first-child:not(.day_na):before {
	content: '';
	display: block;
	position: absolute;
	width: 4rem;
	height: 4rem;
	top: 50%;
	left: 50%;
	margin-top: -2rem;
	margin-left: -2rem;
	border: 1px solid #959292;
	border-radius: 2rem;

	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: transform .3s;
	        transition: transform .3s;

	pointer-events: none;
}

.maincalendar tr:nth-child(n+4) td:not(.day_na):hover:before {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

.day_na:before {
	/*content: '';
	display: block;
	position: absolute;
	height: 1pt;
	width: 1.2em;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #959292;*/

	content: '';
	display: block;
	position: absolute;
	height: 6px;
	width: 4rem;
	top: 50%;

	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
			transform: translateY(-50%);

	left: 50%;
	margin-left: -2rem;
	/*border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;*/
	border-top: 1pt solid #959592;
	border-bottom: 1pt solid #959592;
}
.day_p.day_na:before , .day_n.day_na:before , .day_p.day_pna:before , .day_n.day_pna:before {
	background: #ddd;
	border-color: #ddd !important;
}

.day_pna:after {
	/*content: '';
	display: block;
	position: absolute;
	height: 2rem;
	width: 4rem;
	top: 50%;
	left: 50%;
	background: #444;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;

	margin-left: -2rem;

	z-index: -1;

	-webkit-transform-origin: center top;
		-ms-transform-origin: center top;
			transform-origin: center top;

	-webkit-transform: rotate(45deg) !important;
	    -ms-transform: rotate(45deg) !important;
	        transform: rotate(45deg) !important;*/

	/*content: '*';
	position: absolute;
	left: -1.0rem;
	top: -.5rem;
	color: red;
	font-size: 2.0rem;*/

	/*content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 4rem;
	top: 50%;

	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
			transform: translateY(-50%);

	left: 50%;
	margin-left: -2rem;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;*/

	content: '';
	display: block;
	position: absolute;
	/*height: 1pt;*/
	height: 0;
	width: 1.2em;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	/*background: #959292;*/
	border-top: 1pt solid #959592;

	z-index: -1;
}

.day_s:before {
	-webkit-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
	background: #444;
	color: #fff;
	font-family: Fotograf,sans-serif;
	font-size: 1.7rem;
	padding: 2rem 0;
	line-height: 0;
	content: "\2713" !important;
	border: none !important;
}

.maincalendar tr:nth-child(3) td {
	padding-top: 1em;
}

.maincalendar tr:nth-child(2) {
	display: none;
}

@media (max-width: 719px) , (orientation: portrait) {
	.p-l-0-xs {
		padding-left: 0;
	}
	.p-r-0-xs {
		padding-right: 0;
	}

	.maincalendar {
		width: 100%;
		position: static;
		margin-left: 0;

		border-collapse: separate;
		border-spacing: 2em;
	}

	.maincalendar tr:nth-child(2) {
		display: table-row;
		/*border-bottom: 1em solid transparent;*/
	}
	.maincalendar tr:nth-child(2) ~ tr {
		display: none;
	}
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.mainform {
	border: 1px solid #959292;
	padding: 2em;
	position: relative;
	z-index: 1;
}

.mainform > div:first-child {
	margin-bottom: 1em;
}

.mainform input {
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	outline: none;
	border-radius: 0;
	/*color: #7ca4b5;*/
	color: #ff0095;
	width: 6.4em;

	-webkit-transition: border-bottom .3s;
	   -moz-transition: border-bottom .3s;
	        transition: border-bottom .3s;
}
.mainform input[type=tel] {
	width: 3em;
}
.mainform input#mainform-phone {
	width: 8em;
}

.mainform input:invalid {
	border-bottom: 1px solid #959592;
}
input:invalid {
	box-shadow: none !important;
}

.mainform button {
	background: none;
	border: none;
	outline: none;
	display: inline-block;
	width: 12em;
	height: 1.4em;
	border-left: 1px solid #959292;

	position: relative;
	float: right;
	padding-right: 3.5em;
}

.mainform-arrow-right {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -.5pt;
	width: 3.5em;
	height: 1px;
	background: #959292;

	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: transform .3s;
	        transition: transform .3s;
}

.mainform-arrow-right:after {
	content: '';
	position: absolute;
	right: 0px;
	width: 14.6px;
	height: 14.6px;
	border-right: 1px solid #959292;
	border-top: 1px solid #959292;

	margin-top: -7px;
	margin-right: 2px;

	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.mainform button:hover .mainform-arrow-right {
	-webkit-transform: translateX(.25em);
	    -ms-transform: translateX(.25em);
	        transform: translateX(.25em);
}

@media (max-width: 719px) , (orientation: portrait) {
	.mainform {
		margin-bottom: 50px;
	}
	.mainform button {
		position: absolute;
		left: 0;
		top: 100%;
		margin-top: 20px;
	}
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.link-flat:hover , .link-flat:active , .link-flat:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
}

.color-transition {
	-webkit-transition: color .3s;
	   -moz-transition: color .3s;
	        transition: color .3s;
}

.link-linethrough , .h-linethrough , .h-underline {
	position: relative;
	z-index: 1;
}
.link-linethrough:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 100%;
	top: 50%;
	left: 0;
	right: 0;
	background: #fff;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: transform .3s;
	        transition: transform .3s;
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
}
.link-linethrough:hover:after {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}

.h-linethrough:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	top: 0;
	left: 0;
	margin-top: .5em;
	background: #e7d6ca;
	z-index: -1;
}

.h-underline:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0px;
	margin-top: 10px;
	background: #e7d6ca;
	z-index: -1;
}

.text-shadow {
	/*text-shadow: .125em .125em .5em #000;*/
	text-shadow: 0 0 0.043em rgba(0,0,0,.35);
}

.top-shadow {
	box-shadow: inset 0 200px 200px -200px rgba(0,0,0,.5);
}

.shadow-transwhite {
	box-shadow: 0 0 20px 20px rgba(255,255,255,.8);
}

@media (min-width: 720px) and (orientation: landscape) {
	.columns > * {
		width: 50%;
		float: left;
	}
	.columns > *:last-child {
		padding-left: 40px;
		float: right;
	}
}

.likeaninja {
	position: fixed;
	left: 100%;
}

.hover-icon {
	position: relative;
	top: -.15em;
	display: inline-block;
	width: 0;
	opacity: 0;
	overflow: hidden;

	-webkit-transition: width .3s , opacity .3s;
	   -moz-transition: width .3s , opacity .3s;
	        transition: width .3s , opacity .3s;
}
*:hover > .hover-icon {
	width: 1em;
	opacity: 1;

	-webkit-transition: width .3s , opacity .3s .2s;
	   -moz-transition: width .3s , opacity .3s .2s;
	        transition: width .3s , opacity .3s .2s;
}

@media (max-width: 479px) , (orientation: portrait) {
	.hover-icon {
		width: auto;
		opacity: 1;
		/*position: static;*/
	}
	.hover-icon + * {
		display: none;
	}
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.project_img {
	cursor: url(/assets/img/cursor/zoom.png) 15 15, crosshair;

	background-size: cover;
	background-position: center top;

	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top;
}

.project_close {
	cursor: url(/assets/img/cursor/close.png) 15 15, crosshair;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.about-block {
	background: #fff3eb;
}

.about-block > * {
	padding: 0 5%;
	width: 30%;
}

.about-block .bg {
	width: 70%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.about-block .bg-double {
	display: none;
}

@media (max-width: 1279px) {
	.about-block > * {
		width: 40%;
	}
	.about-block .bg {
		width: 60%;
	}
}
@media (max-width: 719px) , (orientation: portrait) {
	/*.about-block > * {
		width: 50%;
		padding: 0 11%;
	}
	.about-block .bg {
		width: 50%;
	}
}
@media (max-width: 479px) {*/
	.about-block > * {
		width: 100%;
	}
	.about-block .bg {
		width: 100%;
		max-height: 300px;
		display: none;
	}

	.about-block .bg.bg-double {
		clear: both;

		display: block;
		padding-top: .1rem;
	}

	.bg + h1 {
		margin-top: 0;
	}
}

/*@media (min-width: 1280px) and (orientation: landscape) {
	.about-block:nth-last-child(n-1):before {
		content: '';
		width: 1px;
		height: 128px;
		background: #858585;
		position: absolute;
		bottom: 40px;
		left: 2.5%;
	}
	.about-block:not(:last-child):after {
		content: '';
		width: 24px;
		height: 24px;
		border-left: 1px solid #858585;
		border-bottom: 1px solid #858585;
		position: absolute;
		bottom: 40px;
		left: 2.5%;
		margin: 0 .5px;
		transform-origin: bottom left;
		-webkit-transform: rotate(315deg);
			-ms-transform: rotate(315deg);
				transform: rotate(315deg);
	}
	.about-block:nth-child(even):before , .about-block:nth-child(even):after {
		left: auto;
		right: 2.5%;
	}
	.about-block:nth-child(even):after {
		border-left: none;
		border-right: 1px solid #858585;
		transform-origin: bottom right;
		-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				transform: rotate(45deg);
	}
}*/

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.price-header {
	padding: 0 5%;
}
@media (max-width: 719px) , (orientation: portrait) {
	.price-header {
		padding: 0 11%;
	}	
}

@media (min-width: 720px) and (orientation: landscape) {
	.price-block-left {
		padding-left: 5%;
	}
	.price-block-right {
		padding-right: 5%;
	}
}
@media (max-width: 719px) , (orientation: portrait) {
	.price-block-left, .price-block-right {
		padding: 0 5%;
	}
}

.price-table {
	width: 100%;
}
.price-table tr:first-child td:first-child {
	width: 10rem;
}

.price-table tr:last-child td:nth-last-child(2) {
	width: 20rem;
}

.price-table tr:first-child td:last-child {
	padding-bottom: .5em;
}

.price-table tr:nth-child(2) td:last-child p {
	width: 55.5rem;
	text-align: justify;
}

.price-attention {
	height: 16rem;
	width: 46.2rem;
	margin-left: 3rem;
	padding-left: 6.5rem;
	border: 2px solid #7d7f7f;
	position: relative;
}
.price-attention:before {
	content: '\2602';
	display: block;
	position: absolute;
	font-size: 5.5rem;
	height: 9.2rem;
	width: 4.7rem;
	left: -2.9rem;
	top: 2.0rem;
	padding-top: .8rem;
	background: #fff3eb;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.timepick {
	position: absolute;
	background: #fff;
	border: 1px solid #959292;
	margin-top: -32rem;
	/*right: -1px;*/
	text-align: center;
}
.timepick:after {
	content: '';
	display: block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-bottom: 1px solid #959292;
	border-right: 1px solid #959292;
	background: #fff;
	bottom: -1rem;
	left: 0;
	right: 0;
	margin: 0 auto;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}
.timepick > div {
	width: 50%;
	height: 100%;
	float: left;
	padding: .5em 1em  .5em .5em;
}
.timepick > div:first-child {
	padding: .5em .5em .5em 1em;
}
.timepick > div > input {
	display: block;
	margin: .5em auto;
	width: 1.2em;
	text-align: center;

	background: #fff;
	color: #959292;
}
.timepick > div > a {
	display: block;
	width: 1em;
	height: 1.5em;
	margin: .5em auto;
	position: relative;
	overflow: hidden;

	text-indent: 9999px;
}
.timepick > div > a:before {
	content: '';
	position: absolute;
	left: -9999em;
	right: -9999em;
	top: 0;
	height: 1000em;
	width: 1000em;
	margin: 0 auto;
	border: 1px solid #959292;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);

	margin-top: 207.1em;
}

.timepick > div > a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 1px;
	height: 1.5em;
	margin: 0 auto;
	background: #959292;
}

.timepick > div > a:last-child:before {
	margin-top: -1205.55em;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.webest-icon {
	width: 20%;
}
@media (max-width: 719px) , (orientation: portrait) {
	.webest-icon {
		width: 33%;
	}
}
@media (max-width: 479px) , (orientation: portrait) {
	.webest-icon {
		width: 50%;
	}
}

.webest-icon:before {
	content: '\25ef';
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	width: 13.5rem;
	margin: 0 auto;
	font-size: 13.5rem;
	line-height: 13.5rem;

	font-family: Fotograf,sans-serif;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #909090;
}

.webest-icon-number {
	position: absolute;
	left: 0;
	right: 0;

	width: 9.5rem;
	margin: 0 auto;

	text-align: center;
	font-size: 5.25rem;
	line-height: 5.25rem;

	top: 6.7rem;

	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
			transform: translateY(-50%);
}

.webest-icon p {
	text-shadow: 0 0 .3rem #fff;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.maincalendar-legend {
	z-index: 1;
}

@media (max-width: 719px) , (orientation: portrait) {
	.maincalendar-legend {
		display: none;
	}
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

@media (max-width: 719px) , (orientation: portrait) {
	.priceform {
		display: none;
	}
}
.priceform > input {
	display: none;
}

.price-request-form {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: rgba(45,42,39,.7);

	z-index: 100;

	-webkit-transition: opacity .5s;
	   -moz-transition: opacity .5s;
	        transition: opacity .5s;

	pointer-events: none;
}
#price-request-hide:checked ~ .price-request-form {
	opacity: 0;
}

.price-request-block {
	width: 120rem;
	height: 63rem;

	position: absolute;
	left: -9999px;
	right: -9999px;
	top: 50%;

	margin: -31.5rem auto 0;

	background: #fff;

	pointer-events: auto;

	border-left: 9.5rem solid #e7d6ca;
	border-right: 9.5rem solid #e7d6ca;
}

.price-request-form .price-request-hide {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	pointer-events: auto;

	cursor: pointer;
}

#price-request-hide:checked ~ .price-request-form .price-request-block,
#price-request-hide:checked ~ .price-request-form .price-request-hide
{
	pointer-events: none;
}

.price-request-form .price-request-stage1,
.price-request-form .price-request-stage2,
.price-request-form .price-request-stage3
{
	opacity: 0;
	pointer-events: none;

	position: absolute;
	left: 0;
	top: 11.5rem;
	right: 0;
	bottom: 0;

	-webkit-transition: opacity .3s;
	   -moz-transition: opacity .3s;
	        transition: opacity .3s;
}

#price-request-stage1:checked ~ .price-request-form .price-request-stage1,
#price-request-stage2:checked ~ .price-request-form .price-request-stage2,
#price-request-stage3:checked ~ .price-request-form .price-request-stage3 
{
	opacity: 1;
	pointer-events: inherit;
}

.price-request-form .price-table {
	display: none;

	margin: 7.5rem auto 0;

	width: 60rem;
}
.price-request-form .price-table tr:first-child td:first-child {
	width: 8rem;
}
.price-table tr:nth-child(2) td:last-child p {
	width: 50rem;
}

#price-request-cb1:checked ~ .price-request-form .price-request-item1,
#price-request-cb2:checked ~ .price-request-form .price-request-item2,
#price-request-cb3:checked ~ .price-request-form .price-request-item3,
#price-request-cb4:checked ~ .price-request-form .price-request-item4,
#price-request-cb5:checked ~ .price-request-form .price-request-item5,
#price-request-cb6:checked ~ .price-request-form .price-request-item6
{
	display: block;
}

.price-request-stage-number {
	height: .2rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 5.5rem;
	background: #e7d6ca;
}

.price-request-stage-number label {
	display: inline-block;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 100%;
	border: .2rem solid #e7d6ca;
	color: #e7d6ca;
	background: #fff;
	margin: 0 8.5rem;

	position: relative;
	top: -2rem;

	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	        transition: all .3s;

	cursor: pointer;
}

#price-request-stage1:checked ~ .price-request-form .price-request-stage-number label:nth-child(1),
#price-request-stage2:checked ~ .price-request-form .price-request-stage-number label:nth-child(2),
#price-request-stage3:checked ~ .price-request-form .price-request-stage-number label:nth-child(3)
{
	font-family: UniSansHeavyCaps,sans-serif;
	font-weight: normal !important;
	color: #fff;
	background: #e7d6ca;
}

.price-request-back , .price-request-next {
	position: absolute;
	display: block;
	top: -11.5rem;
	bottom: 0;
	width: 9.5rem;

	cursor: pointer;
}
.price-request-back {
	left: -9.5rem;
}
.price-request-next {
	right: -9.5rem;
}

.price-request-back div , .price-request-next div {
	position: absolute;
	top: 50%;
	padding-top: 4rem;
	/*margin-top: -5.5rem;*/

	color: #ac9f96;

	width: 0;

	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: transform .3s;
	        transition: transform .3s;
}
.price-request-back div {
	left: 2.5rem;
}
.price-request-back:hover div {
	transform: translateX(1rem);
}
.price-request-next div {
	direction: rtl;
	right: 2.5rem;
}
.price-request-next:hover div {
	transform: translateX(-1rem);
}

.price-request-back div:before , .price-request-next div:before {
	content: '';
	display: block;
	position: absolute;
	width: 12.5rem;
	height: 1px;
	background: #ac9f96;
	top: 0;
}

.price-request-back div:after , .price-request-next div:after {
	content: '';
	display: block;
	position: absolute;
	width: 2.6rem;
	height: 2.6rem;
	border-bottom: 1px solid #ac9f96;
	border-right: 1px solid #ac9f96;

	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
			transform: rotate(-45deg);

	top: -1.2rem;
	margin: 0 .4rem;
}
.price-request-back div:after {
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
			transform: rotate(135deg);
}

.price-request-init {
	cursor: pointer;
}

.price-request-form .maincalendar {
	margin: 7.5rem auto 0;
	float: none !important;
	position: absolute;
	left: 50%;
	
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
}

.price-request-form .mainform {
	width: 66rem;
	margin: 7.5rem auto 0;
	/*padding: 0;
	border: none;*/
}

.price-request-form .mainform input#priceform-phone {
	width: 8em;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.project-descr-block {
	padding-left: 10% !important;
	padding-left: 5vw !important;
	margin-left: .7rem;
}
.project-descr-block .bb-1 {
	overflow: visible;
	padding-left: 0 !important;
	left: -.5rem;
}
.project-descr-block .bb-1:before {
	content: '';
	display: block;
	position: absolute;
	border-bottom: 1px solid;
	border-color: inherit;
	top: 100%;
	right: 100%;
	width: 100%;
}

.project-descr-text {
	text-align: left !important;
	vertical-align: top !important;
}
.project-descr-text .text-justify {
	text-align: justify !important;
	font-family: Calibri,helvetica,Arial,sans-serif;
}