@font-face {
  font-family: DejaVuSansExtraLight;
  src: url('../fonts/dejavusans-extralight.eot');
  src: local('DejaVuSans ExtraLight'), url('../fonts/dejavusans-extralight.woff') format('woff'), url('../fonts/dejavusans-extralight.ttf') format('truetype'), url('../fonts/dejavusans-extralight.svg') format('svg');
}

@font-face {
  font-family: DSBroadBrush;
  src: url('../fonts/dsbb.eot');
  src: local('DS BroadBrush'), url('../fonts/dsbb.woff') format('woff'), url('../fonts/dsbb.ttf') format('truetype'), url('../fonts/dsbb.svg') format('svg');
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/opensansregular.eot');
  src: local('OpenSans'), url('../fonts/opensansregular.woff') format('woff'), url('../fonts/opensansregular.ttf') format('truetype'), url('../fonts/opensansregular.svg') format('svg');
}

@font-face {
  font-family: UniSansThinCaps;
  src: url('../fonts/uni-sans-thin-caps.eot');
  src: local('UniSansThinCaps'), url('../fonts/uni-sans-thin-caps.woff') format('woff'), url('../fonts/uni-sans-thin-caps.ttf') format('truetype'), url('../fonts/uni-sans-thin-caps.svg') format('svg');
}

@font-face {
  font-family: UniSansHeavyCaps;
  src: url('../fonts/uni-sans-heavy-caps.eot');
  src: local('UniSansHeavyCaps'), url('../fonts/uni-sans-heavy-caps.woff') format('woff'), url('../fonts/uni-sans-heavy-caps.ttf') format('truetype'), url('../fonts/uni-sans-heavy-caps.svg') format('svg');
}

@font-face {
  font-family: Bauhaus;
  src: url('../fonts/bhs.eot');
  src: local('Bauhaus'), url('../fonts/bhs.woff') format('woff'), url('../fonts/bhs.ttf') format('truetype'), url('../fonts/bhs.svg') format('svg');
}

@font-face {
  font-family: BauhausLight;
  src: url('../fonts/bhs45.eot');
  src: local('BauhausC Light'), url('../fonts/bhs45.woff') format('woff'), url('../fonts/bhs45.ttf') format('truetype'), url('../fonts/bhs45.svg') format('svg');
}

@font-face {
  font-family: Fotograf;
  src: url('../fonts/fotograf-icons.eot');
  src: url('../fonts/fotograf-icons.woff') format('woff'), url('../fonts/fotograf-icons.ttf') format('truetype'), url('../fonts/fotograf-icons.svg') format('svg');
}

.djvu-xlight {
  font-family: DejaVuSansExtraLight,sans-serif;
}
.dsbb {
  font-family: DSBroadBrush,cursive;
  font-weight: normal !important;
}
.bhs {
  font-family: Bauhaus,cursive;
  font-weight: normal !important;
}
.bhs45 {
  font-family: BauhausLight,cursive;
  font-weight: normal !important;
}
.opensans {
  font-family: OpenSans,sans-serif;
}
.usans-tcaps {
  font-family: UniSansThinCaps,sans-serif;
}
.usans-hcaps {
  font-family: UniSansHeavyCaps,sans-serif;
  font-weight: normal !important;
}
.fotograf-icon {
  font-family: Fotograf,sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f15 {
  font-size: 1.5rem;
}
.f16 {
  font-size: 1.6rem;
}
.f18 {
  font-size: 1.8rem;
}
.f20 {
  font-size: 2.0rem;
}
.f25 {
  font-size: 2.5rem;
}
.f27 {
  font-size: 2.7rem;
}
.f30 {
  font-size: 3.0rem;
}
.f35 {
  font-size: 3.5rem;
}
.f50 {
  font-size: 5.0rem;
}
.f55 {
  font-size: 5.5rem;
}
.f70 {
  font-size: 7.0rem;
}