html{
    font-size: 5px;
}
@media screen and (min-width: 480px){
    html{
        font-size: 5px;
    }
}
@media screen and (min-width: 720px){
    html{
        font-size: 6px;
    }
}
@media screen and (min-width: 1280px){
    html{
        font-size: 6.666px;
    }
}
@media screen and (min-width: 1600px){
    html{
        font-size: 8.333px;
    }
}
@media screen and (min-width: 1920px){
    html{
        font-size: 10px;
    }
}