.sas-hover-block{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
.sas-hover-block:hover{
    text-decoration: none;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
.sas-hover-text{
    text-decoration: none;
    width: 100%;
    background: rgba(0,0,0,1);
    color: white;
    padding: 10px;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: monospace, serif;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
.sas-hover-block:hover .sas-hover-text{
    opacity: 1;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    margin: auto;
    font-size: 10rem;
}
.relative{
    position: relative;
}
.table{
    display: table;
    width: 100%;
}
.cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.sas-calendar-day{
    font-size: 2.4rem;
    color: white;
    padding: 20px;
    background: #34495e;
}
.sas-calendar-lay{
    font-size: 2.4rem;
    color: #34495e;
    padding: 20px;
    text-transform: uppercase;
    background: white;
}
.sas-nav-admin li a{
    border-radius: 0;
    color: #fff;
}
.sas-nav-admin li+li{
    margin:0;
}
.sas-nav-admin li.active a{
    background: #2c3e50;
}
.sas-nav-admin li.active a:hover,.sas-nav-admin li a:hover{
    background: #2c3e50;
}
.sas-nav-admin{
    border-bottom: 1px solid #2c3e50;
    background: #34495e;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #ecf0f1;
}
.ohidden{
    overflow: hidden;
}
.p-b-30{
    padding-bottom: 30px;
}
.p-b-40{
    padding-bottom: 40px;
}
.p-b-50{
    padding-bottom: 50px;
}
.wauto{
    width: auto !important;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #e74c3c;
}
.close:hover{
    color: #e74c3c;
}

.admin_input{
    border: 0;
    background: transparent;
    border-bottom: 1px solid #000;
}
.admin_textarea{
    border: 0;
    background: transparent;
    border-left: 1px solid #000;
    width: 100%;
}
.clear-btn{
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
.well.equal{
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.well.equal:first-child{
    border-right: 1px solid black;
}
.deleter{
    top: 0;
    right: 5px;
    font-size: 2.4rem;
    opacity: 1;
}
.deleter:hover{
    opacity: 1;
}
.fancy_project:hover img{
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.fancy_project img{
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}
.project_hover{
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}
.project_hover:hover{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    color: white;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}
@media (max-width: 719px) , (orientation: portrait) {
    .project_hover {
        opacity: 1;
        color: #fff;
        background: rgba(0,0,0,0.25);
    }
}
.tbl{
    border: 3px solid white;
    display:table;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.tbl-row{
    display:table-row;
    vertical-align: bottom;
    text-align: left;
    width: 100%;
}
.tbl-cell{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.tbl-row .tbl-cell{
    vertical-align: bottom;
}
.p-b-60{
    padding-bottom: 60px;
}
.p-b-20{
    padding-bottom: 20px;
}
.project_heading{
    /*font-family: DSBroadBrush,cursive;*/
    font-size: 5rem;
    margin: 0 0 35px 0;
}
.project_description{
    /*font-family: DSBroadBrush,cursive;*/
    font-size: 1.5rem;
    /*font-family: OpenSans, sans-serif;*/
}
body{
    background: #fff3eb;
}
.p-t-170{
    padding-top: 170px;
}
.bb-1{
    border-bottom: 1px solid #e7d6ca;
}
.no-p{
    padding: 0 !important;
}
.no-b{
    border: 0 !important;
}
.m-b-35{
    margin-bottom: 35px;
}
.m-r--100{
    margin-right: -100px;
}
.arrow-btn{
    font-size: 4rem;
    /*font-family: UniSansThinCaps,sans-serif;*/
    text-transform: uppercase;
    color: #959292;
    margin-left: 12.4rem;
    position: relative;
}
.arrow-btn:hover{
    text-decoration: none;
    color: #959292;
}
.arrow-btn:before{
    content: '';
    position: absolute;
    left: -12.4rem;
    width: 12.8rem;
    height: 3.5rem;
    top: .6rem;
    background: url(/assets/img/arrow.png);
    background-size: cover;
}
.p-t-20{
    padding-top: 20px;
}
.cgray{
    color: #959292;
}
.day-event{
    position: relative;
    box-sizing: content-box !important;
}

.project_hover{
    cursor: url(/assets/img/cursor/zoom.png) 15 15, crosshair;
}
.leftblock{
    cursor: url(/assets/img/cursor/close.png) 15 15, crosshair;
}
